.btn {
  background-color: rgb(206, 235, 240);
  border: none;
  border-radius: 3px;
  width: 75px;
  height: 25px;
  font-size: 15px;
  font-family: "Arial", sans-serif;
}

.btn:not(:last-child) {
  margin-right: 8px;
}
